@model AkademiQMongoDb.Dtos.AboutSection1.ResultAbout1Dto

<div class="intro intro-about2">
    <div class="container">
        <div class="row center-content">
            <div class="col-md-7">
                <img src="@Model.ImageUrl" class="pull-left img-responsive" alt="About Image" style="max-width: 80%; height: auto;" />
            </div>
            <div class="col-md-5">
                <h3>@Model.Title</h3>
                <p>@Model.Description</p>
            </div>
        </div>
    </div>
</div>