<div id="stats2" class="bg-primary">
    <div class="container">
        <div class="row">
            <div class="col-md-3 col-sm-3">
                <div class="stats2-info">
                    <i class="icon-piggy"></i>
                    <p><span class="count">50</span></p>
                    <h2>Yemeklerimiz</h2>
                </div>
            </div>
            <div class="col-md-3 col-sm-3">
                <div class="stats2-info">
                    <i class="icon-photo"></i>
                    <p><span class="count">328</span></p>
                    <h2>Fotoğraflar</h2>
                </div>
            </div>
            <div class="col-md-3 col-sm-3">
                <div class="stats2-info">
                    <i class="icon-rocket"></i>
                    <p><span class="count">876</span></p>
                    <h2>Yorumlar</h2>
                </div>
            </div>
            <div class="col-md-3 col-sm-3">
                <div class="stats2-info">
                    <i class="icon-world"></i>
                    <p><span class="count">1024</span></p>
                    <h2>Siparişler</h2>
                </div>
            </div>
        </div>
    </div>
</div>