<header>
    <nav class="navbar-inverse navbar-lg navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <a href="#" class="navbar-brand brand"><img src="/template/images/logo.png" alt="logo"></a>
            </div>

            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>

            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right navbar-login">
                    <li>
                        <a href=""><span class="icon-call"></span> +90 123 456 78 90</a>
                    </li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li class="dropdown mm-menu">
                        <a class="page-scroll" href="#home">Ana Sayfa</a>
                    </li>

                    <li class="dropdown mm-menu">
                        <a class="page-scroll" href="#about">Hakkımızda</a>
                    </li>

                    <li class="dropdown mm-menu">
                        <a class="page-scroll" href="#explore">Ürünlerimiz</a>
                    </li>

                    <li class="dropdown mm-menu">
                        <a class="page-scroll" href="#reviews">Referanslar</a>
                    </li>

                    <li class="dropdown mm-menu">
                        <a class="page-scroll" href="#faq">S.S.S.</a> 
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</header>