@model AkademiQMongoDb.Dtos.TestimonialDto.GetTestimonialByIdDto
@{
    ViewData["Title"] = "UpdateTestimonial";
    Layout = "~/Views/Admin/_AdminLayout.cshtml";
}

<div class="col-12 grid-margin stretch-card">
    <div class="card">
        <div class="card-body">
            <h4 class="card-title">Referans Güncelleme Sayfası</h4>

            <form method="post" class="forms-sample">
                <div class="form-group">
                    <label>#</label>
                    <input type="text" class="form-control" asp-for="TestimonialId" placeholder="#" readonly>
                </div>
                <div class="form-group">
                    <label>Referans Adı</label>
                    <input type="text" class="form-control" asp-for="NameSurname" placeholder="Referans Adı">
                </div>
                <div class="form-group">
                    <label>Referans Mesleği</label>
                    <input type="text" class="form-control" asp-for="Pozition" placeholder="Mesleği">
                </div>
                <div class="form-group">
                    <label>Referans Görseli</label>
                    <input type="text" class="form-control" asp-for="ImageUrl" placeholder="Ürün Görseli">
                </div>
                <div class="form-group">
                    <label>Referans Yorumu</label>
                    <textarea class="form-control" asp-for="Description" rows="4"></textarea>
                </div>

                <button type="submit" class="btn btn-primary mr-2">Güncelle</button>
                <button class="btn btn-light">Vazgeç</button>
            </form>
        </div>
    </div>
</div>
